<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Avaliações | Perfil</title>
    <link rel="stylesheet" href="perfil.css">
</head>
<body>

     <header>
        <nav>
            <form action="/search" method="get" class="search-bar">
                <input type="text" placeholder="O que está buscando?" name="q">
                <button type="submit">🔍</button>
            </form>

            <ul class="menu-links">
                <li><a href="filmes.html">Filmes</a></li>
                <li><a href="series.html">Séries</a></li>
                <li><a href="paginacadastro.html">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <h1>Suas avaliações</h1>
    <hr class="title-separator">

    <div class="container">
        <!-- Coluna de Perfil --><aside class="profile-section">
            <h2 class="profile-header">MEU PERFIL</h2>
            <div class="profile-info">
                <div class="profile-avatar">
                    <!-- Ícone de Perfil -->
                     <img src="imagens/perfil.png" alt="foto de perfil" style="width: 20px; height: 20px">
                </div>
                <p class="profile-name">ANA CAROLINA RODRIGUES</p>
                <p class="profile-username">nome de usuário</p>
                <button class="edit-account-btn">editar conta</button>
            </div>
        </aside>

        <!-- Coluna de Avaliações --><main class="reviews-section">
            <!-- Card de Avaliação 1 --><div class="review-card">
                <div class="movie-poster-placeholder"></div> <!-- Placeholder da imagem do filme --><div class="review-content">
                    <div class="review-header">
                        <h3 class="movie-title">Nome do filme</h3>
                        <div class="review-actions">
                            <button class="review-action-btn edit">
                                <img src="imagens/editar.png" alt="ícone de edição" style="width: 20px; height: 20px">
                                editar
                            </button>
                            <button class="review-action-btn delete">
                                <img src="imagens/excluir.png" alt="ícone de exclusão" style="width: 20px; height: 20px">
                                excluir
                            </button>
                        </div>
                    </div>
                    <p class="review-score">Sua nota: 
                        <span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon empty">★</span>
                    </p>
                    <p class="review-text">
                        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    </p>
                </div>
            </div>

            <div class="review-card">
                <div class="movie-poster-placeholder"></div> <!-- Placeholder da imagem do filme --><div class="review-content">
                    <div class="review-header">
                        <h3 class="movie-title">Nome do filme</h3>
                        <div class="review-actions">
                            <button class="review-action-btn edit">
                                <img src="imagens/editar.png" alt="ícone de edição" style="width: 20px; height: 20px">
                                editar
                            </button>
                            <button class="review-action-btn delete">
                                <img src="imagens/excluir.png" alt="ícone de exclusão" style="width: 20px; height: 20px">
                                excluir
                            </button>
                        </div>
                    </div>
                    <p class="review-score">Sua nota: 
                        <span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon empty">★</span>
                    </p>
                    <p class="review-text">
                        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    </p>
                </div>
            </div>


            <div class="review-card">
                <div class="movie-poster-placeholder"></div> <!-- Placeholder da imagem do filme --><div class="review-content">
                    <div class="review-header">
                        <h3 class="movie-title">Nome do filme</h3>
                        <div class="review-actions">
                            <button class="review-action-btn edit">
                                <img src="imagens/editar.png" alt="ícone de edição" style="width: 20px; height: 20px">
                                editar
                            </button>
                            <button class="review-action-btn delete">
                                <img src="imagens/excluir.png" alt="ícone de exclusão" style="width: 20px; height: 20px">
                                excluir
                            </button>
                        </div>
                    </div>
                    <p class="review-score">Sua nota: 
                        <span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon empty">★</span><span class="star-icon empty">★</span>
                    </p>
                    <p class="review-text">
                        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    </p>
                </div>
            </div>


            <div class="review-card">
                <div class="movie-poster-placeholder"></div> <!-- Placeholder da imagem do filme --><div class="review-content">
                    <div class="review-header">
                        <h3 class="movie-title">Nome do filme</h3>
                        <div class="review-actions">
                            <button class="review-action-btn edit">
                                <img src="imagens/editar.png" alt="ícone de edição" style="width: 20px; height: 20px">
                                editar
                            </button>
                            <button class="review-action-btn delete">
                                <img src="imagens/excluir.png" alt="ícone de exclusão" style="width: 20px; height: 20px">
                                excluir
                            </button>
                        </div>
                    </div>
                    <p class="review-score">Sua nota: 
                        <span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon">★</span><span class="star-icon empty">★</span>
                    </p>
                    <p class="review-text">
                        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>