<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Séries | Stream</title>
    <link rel="stylesheet" href="series.css">
</head>
<body>
    <header>
        <nav>
            <form action="/search" method="get" class="search-bar">
                <input type="text" placeholder="O que está buscando?" name="q">
                <button type="submit">🔍</button>
            </form>

            <ul class="menu-links">
                <li><a href="filmes.html">Filmes</a></li>
                <li><a href="series.html">Séries</a></li>
                <li><a href="paginacadastro.html">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        
        <section class="destaque-series">
            <h2>
                Nome da Série
            </h2>
            <p>
                Breve descrição Breve descrição Breve descrição Breve descrição Breve descrição.
            </p>
            
            <!-- Indicadores de Navegação (Dots) -->
            <div class="navegacao-destaque">
                <span class="dot-ativo"></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <!-- SEÇÃO CAROUSEL  -->
        <section class="escolhe-filmes">
            <h3>Em Destaque Agora</h3>
            
            <div class="carousel-container">
                <!-- Botão de Navegação Esquerda -->
                <button class="nav-left"> &lt; </button>
                
                <!-- Lista de Cards -->
                <div class="cards-list">
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                    <div class="serie-card"></div>
                </div>

                <!-- Botão de Navegação Direita -->
                <button class="nav-right"> &gt; </button>
            </div>
        </section>

    </main>

</body>
</html>
