body {
    background-color: #f3f3f3ff;
    font-family: 'Inter', sans-serif;
    padding: 3% 3% 3% 3%;
}

.rating-box:last-child {
    border-bottom: none;
}

header {
    background-color: #8a0007; 
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 2.8rem; 
    z-index: 1000;
}

header nav {
    display: flex; 
    height: 4rem;
    width: 100%;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1rem; 
}


ul {
    list-style-type: none;
}

.menu-links {
    gap: 2rem; 
    display: flex;
    margin-right: 1.5rem; 
}


li a {
    position: relative; 
    color: aliceblue;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
}

/*   Linha que aparece abaixo do link no hover, tipo uma animação */
li a::before{
    position: absolute;
    content: "";
    width: 0; 
    height: 5px;
    left: 0;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: beige;
}

li a:hover::before{
    width: 100%; 
}

/* Estilos da Barra de Pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-bar input[type="text"] {
    border-radius: 999px; 
    border: none;
    padding: 0.8rem 1.5rem; 
    outline: none;
    width: 250px;
}

.search-bar button {
    background: #e0e0e0; 
    border: none;
    border-radius: 50%; 
    padding: 0.5rem; 
    cursor: pointer;
    height: 35px; 
    width: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
}

